{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Client Portal</h1>
    <p>Welcome to the new and imporoved client portal. All functionality requires you to be logged in, so please click the login link above to proceed</p>
</div>
{% endblock %}
