{% extends "base.html" %}
{% block content %}
<div class="page_header">
    <h1>Sign In</h1>
 </div>
  <form action="" method="post" name="login" role="form" id='loginform'>
      {{ form.hidden_tag() }}
      {{ form.username(size=80, class="form-control", **{ "placeholder":"Username" }) }}<br>
      {{ form.password(size=80, class="form-control", **{ "placeholder": "Password"})  }}<br>
      {{ form.debug(**{"style": "visibility: hidden"}) }}<br>
      <span class="input-group-btn">
          <button class="btn btn-default" type="button" onclick="document.getElementById('loginform').submit();" >Sign In</button>
      </span>
      <input type="submit" style="visibility: hidden;" />
  </form>
  {% if failed %}
    <div class="alert alert-danger" role="alert">
        <span class="sr-only">Error:</span>
        Invalid Login
    </div>
  {% endif %}

{% endblock %}
